<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>rise-playlist-item Demo</title>

  <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
  <link rel="import" href="bower_components/rise-playlist/rise-playlist.html">
  <link rel="import" href="rise-playlist-item.html">
</head>
<body>
  <rise-playlist>
    <rise-playlist-item duration="5"></rise-playlist-item>
  </rise-playlist>
</body>
</html>
